<aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./assets/images/avatar-icon.png" alt="Sandesh Patil" width="160" height="160" fetchpriority="high" decoding="async">
        </figure>

        <div class="info-content">
          <p class="name" title="Sandesh Patil">Sandesh Patil</p>

          <p class="title">Web Developer</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:sandeshjspatil@gmail.com" class="contact-link">sandeshjspatil@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+918329608258" class="contact-link">+91 83-2960-8258</a>
            </div>

          </li>

          
          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Pune, India</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="https://www.linkedin.com/in/sandeshjspatil" class="social-link" aria-label="LinkedIn profile">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://github.com/sandeshpatil-in" class="social-link" aria-label="GitHub profile">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://x.com/SandeshPat54955" class="social-link" aria-label="X profile">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://www.instagram.com/sandeshpatil.in?igsh=MTNndmxrcW12eHJsZw==" class="social-link" aria-label="Instagram profile">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>


        </ul>

      </div>

    </aside>
